

 /* @media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
} 

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
} */

header{
  background: url(images/ceramic.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
@media screen and (max-width: 670px){
  header{
    min-height: 300px;
  }
}

footer.page-footer {
  margin: 0;
} 

a {
  
    font-family: 'Open Sans', sans-serif;
    font-weight:  bold;
    font-size: 150%;
  
  }

  .wrap {
    background: url(images/anotherplant.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
  }

  .carousel {
    background-color:#f1f8e9;
    height: 500px;
  }

  li {
    font-family: 'Open Sans', sans-serif;
    font-weight:  bold;
    font-size: 150%;
   }  
/* .carousel-item center black-text bold {
  width: 300px;
  height: 150px;
} */

.modal-overlay{
  height: 500;
  width: 700;
}
.carousel .carousel-item {
  width: 350px;
  height: 200px;
}